<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - jbrunton.com</title>
        <link href="/public/css/site.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/pygments.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <div class="content">
                    <nav>
                        <a id="home" href="/">
                            <h3>jbrunton.com</h3>
                        </a>
                        <ul>
                        {% for link in site.nav_links %}
                            <li>
                            {% if page.url == link.url %}
                                <a class="selected" href="{{ link.url }}">{{ link.label }}</a>
                            {% else %}
                                <a href="{{ link.url }}">{{ link.label }}</a>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="box">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
        <footer class="wrapper">
            <p>Site developed and designed by me:
                <a class="link" target="_blank" href="https://twitter.com/JohnBrunton">@johnbrunton</a></p>
        </footer>
    </body>
</html>
