---
layout: default
---

<div class="clearfix">
    <div class="two columns">
        <h1>{{ page.title }}</h1>

        <p>Posted {{ page.date | date_to_string }}</p>

        <p class="tags">Tags:
            {% assign tags_list = page.tags %}
            {% include tags_list.html %}
        </p>

        {{ content }}

        {% if site.related_posts.size > 0 %}
            <h3>Related Posts:</h3>
            {% assign posts_list = site.related_posts %}
            {% include posts_list.html %}
        {% endif %}
    </div>
</div>
