---
layout: default
---

<div class="clearfix">
    <div class="two columns">
        <h1>{{ page.title }}</h1>

        <p>Posted {{ page.date | date_to_string }}</p>

        <p class="tags">Tags:
            {% assign tags_list = page.tags %}
            {% include tags_list.html %}
        </p>

        {{ content }}

        {% if site.related_posts.size > 0 %}
            <h3>Related Posts:</h3>
            {% assign posts_list = site.related_posts %}
            {% include posts_list.html %}
        {% endif %}
        
        <h3>Comments:</h3>
    	<!-- START: Livefyre Embed -->
		<div id="livefyre-comments"></div>
		<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
		<script type="text/javascript">
		(function () {
			var articleId = fyre.conv.load.makeArticleId(null);
			fyre.conv.load({}, [{
				el: 'livefyre-comments',
				network: "livefyre.com",
				siteId: "317231",
				articleId: articleId,
				signed: false,
				collectionMeta: {
					articleId: articleId,
					url: fyre.conv.load.makeCollectionUrl(),
				}
			}], function() {});
		}());
		</script>
		<!-- END: Livefyre Embed -->
            
    </div>
</div>
